.mitter .ui-autocomplete {
	z-index: 10;
	width: 243px;
}
.mitter .select2-container-multi {
	padding: 13px !important;
	padding-top: 7px !important;
	margin-bottom: 10px !important;
}
.mitter .form-control, .mitter .select2-container{
	margin-bottom: 10px !important;
}
.mitter .select2-container{
	width: 100% !important;
}
.mitter .row-remove-key {
	cursor: pointer;
	color: red;
	position: absolute;
	left: 0px;
	top: 7px;
	font-family: FontAwesome;
}
.mitter .bootstrap-timepicker table td input {
	width: 45px !important;
}
